body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}

.media-body{
    padding-top: 10px;
}

.text-desc{
    font-size: 12px;
    font-weight:normal ;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    display: block;
    font-size: 13px;
    color: #999;
    margin-bottom: 15px;
}

.comment{
    margin:10px 0;
}

.comment-btn{
    float: right;
    margin-bottom: 10px;
}

.comment-sp{
    margin-top: 0;
}

.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover{
    color: #499ef3;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.question-title {
    margin-top: 25px;
}

.question-related{
    line-height: 20px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.edit{
    float: right;
    margin-top: 15px;
}

/*缩略图*/
.list{
    width: 1426px;
    height: 400px;
    list-style: none;
    position: relative;
}
.item{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    transition: all .5s;
}
.home-btn{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 150px;
    z-index: 100;
}
#go-pre{
    left: 55px;
}
#go-next{
    right: 38px;
}

.list .active{
    z-index: 10;
    opacity: 1;
}

.pointList{
    padding-left: 0px;
    list-style: none;
    position: absolute;
    right: 100px;
    bottom: 20px;
    z-index: 1000;
}

.point{
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 100%;
    float: left;
    margin-left: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,0.6);
    cursor: pointer;
}
.pointList .active{
    background-color: white;
}

.fl{
    float: left;
}

/*新闻动态*/
.news{
    width: 100%;
    padding: 35px 80px 0 80px;
}

.news .description{
    color: gray;
    padding: 16px 0 12px;
    font-size: 14px;
    min-height: 50px;
    line-height: 25px;
}

.news .ul-css{
    padding: 35px 0 0 23px;
    margin-bottom: 64px;
    background-color: white;
    list-style-type: none;
    float: left;
}

.news .li-css{
    width: 427px;
    height: 360px;
    padding: 0 13px;
    margin-bottom: 45px;
    float: left;
    background: url(/img/xx1.jpg) bottom repeat-x;
}
.news .a-css{
    overflow: hidden;
    display: inline-block;
    width: 400px;
    height: 360px;
    position: relative;
    font-size: 14px;
    padding-left: 20px;
    color: black;
}

.news .div{
    width: 360px;
    height: 220px;
    display: inline-block;
    overflow: hidden;
}
.news .img{
    width: 360px;
    height: 220px;
}

.news .title{
    width: 100%;
    margin-top: 8px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    overflow: hidden;
    color: black;
    font-size: 20px;
}
.news .title:hover{
    color: #4cae4c;
}
.clear-both{
    clear: both;
}
/*科普教育*/
.kpjy{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    list-style-type: none;
    padding: 35px 80px 0px;
}
.kpjy .img{
    width: 447px;
    height: 335px;
    display: inline-block;
    overflow: hidden;
    padding-left: 50px;
}
.img-size{
    width: 447px;
    height: 335px;
}
.kpjy .imgr{
    width: 610px;
    height: 335px;
    padding-left: 70px;
}
.imgr .s1{
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    color: gray;
    font-size: 15px;
}
.imgr .s2{
    width: 100%;
    height: 58px;
    line-height: 58px;
    overflow: hidden;
    color: #333;
    font-size: 25px;
}
.s2:hover{
    color: #4cae4c;
}
.imgr .s3{
    width: 100%;
    height: 125px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 6px;
}
.imgr .s4{
    width: 100%;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    color: #469946;
    font-size: 15px;
}
.kpjy li{
    width: 100%;
    padding-bottom: 20px;
    float: left;
}

/*园林园艺*/
.ylyy{
    width: 100%;
    margin-bottom: 45px;
    float:left;
    list-style-type: none;
    padding: 35px 80px 0 80px;
}
.ylyy li{
    width: 320px;
    height: 320px;
    float: left;
    padding-left: 20px;
}
.ylyy .img{
    width: 300px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.ylyy img-size{
    width: 300px;
    height: 300px;
}
.ylyy .a-text{
    width: 300px;
    height: 50px;
    line-height: 50px;
    background: url(/img/e4.png) repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
/*游客服务*/
.ykfw{
    padding: 35px 80px 0 80px;
}
.ykfw .img{
    width: 602px;
    height: 339px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.ykfw .img-size{
    width: 602px;
    height: 339px;
}
.ykfw .imgr{
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-indent: 28px;
    background-color: #2a2a27;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
}
.ykfw .c{
    width: 510px;
    padding: 30px 0 0 30px;
}
.ykfw .ct{
    width: 100%;
    padding-bottom: 20px;
}
.ykfw .con{
    width: 100%;
    height: 170px;
    padding-left: 35px;
}
.ykfw .xx{
    width: 100%;
    margin-bottom: 20px;
    height: 100px;
    line-height: 25px;
    overflow: hidden;
    color: #666;
    display:block;
}
.ykfw .xx-hidden{
    width: 100%;
    margin-bottom: 20px;
    height: 100px;
    line-height: 25px;
    overflow: hidden;
    color: #666;
    display: none;
}
.ykfw .btn{
    width: 110px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    background-color: #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
}
.ct a{
    width: 99px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #2a2a27;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #2a2a27;
    font-size: 14px;
    text-decoration: none;
}
.ct a:hover{
    width: 99px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #2a2a27;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: white;
    background-color: black;
    font-size: 14px;
    text-decoration: none;
}
/*页尾*/
.yw{
    width: 1205px;
    margin: 0 auto;
}
.yw .top{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0efe1;
}
.yw .ctitle{
    line-height: 30px;
    color: #333;
    font-size: 20px;
    padding-top: 35px;
}
.yw .down{
    width: 100%;
    padding-top: 20px;
}
.down .left{
    width: 600px;
}
.down .right{
    line-height: 30px;
    font-size: 14px;
    color: #666;
}

.left .t{
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin-bottom: 13px;
    overflow: hidden;
}
.left .c{
    width: 100%;
    padding-left: 20px;
}

.yw .right{
    margin-top: 30px;
    text-align: center;
    color: #3a968f;
    font-size: 14px;
    line-height: 2.2;
}

.guest{
    position: absolute;
    width: 1284.2px;
    bottom: 0;
    background-color: white;
    left: 50%;
    margin-left: -620px;
    height: 100px;
    border-bottom: 1px solid #efefef;
    top: 393.5px;
}

.subtitle{
    color: #fff;
    border-right: 1px solid #fff;
    padding: 10px 15px;
    height: 35px;
    line-height: 15px;
    display: inline-block;
    float: left;
}

.zzjg{
    width: 100%;
}

.zzjg li{
    width: 278px;
    height: 174px;
    float: left;
}

.zzjg .s1{
    width: 270px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
    color: #333;
    font-size: 16px;
}

.zzjg .s2{
    width: 270px;
    height: 125px;
    line-height: 25px;
    overflow: hidden;
    text-align: justify;
    color: #999;
    font-size: 14px;
    margin-top: 15px;
}

.zwyry{
    width: 100%;
}

.zwyry li{
    width: 276px;
    height: 264px;
    float: left;
}

.zwyry .img{
    width: 265px;
    height: 186px;
    border: 1px solid #efefef;
    display: inline-block;
    overflow: hidden;
}

.zwyry .text{
    width: 267px;
    height: 48px;
    line-height: 48px;
    color: #333;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
}
