<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<footer th:fragment="footer">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
        <div class="" style="padding: 35px 80px 0 80px;">
            <div class="yw">
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 fl">
                    <div class="top">
                        <a href="" class="col-lg-8 col-md-12 col-sm-12 col-xs-12 fl">
                            <img src="http://www.cdszwy.com/uploadfile/2019/0109/20190109102835345.png" alt="底部logo"
                                 width="225px" height="69px">
                        </a>
                        <span class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ctitle">联系我们/Contact Us</span>
                        <div class="clear-both"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 down">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 fl left">
                            <div class="t fl">
                                <a href="">首页</a>·
                                <a href="">关于我们</a>·
                                <a href="">新闻动态</a>·
                                <a href="">科学研究</a>·
                                <a href="">科普教育</a>·
                                <a href="">园林园艺</a>·
                            </div>
                            <div class="c">
                                <a href="">
                                    <img src="http://www.cdszwy.com/images/es1.png" alt="">
                                </a>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 fl right">
                            <div style="color: gray">
                                地址：成都市北郊天回镇 <br>
                                电话: 028-83583439 传真: 028-83585552 <br>
                                ‬邮编: 610083   <a href="http://www.beian.miit.gov.cn/" style="color: black">蜀ICP备19013962号 </a>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 right">
                    <img src="http://www.cdszwy.com/uploadfile/2019/0228/20190228040321347.png" alt="微信公众号">
                    <br>
                    微信公众号
                </div>
                <div class="clear-both"></div>
            </div>
        </div>

    </div>
</footer>

</body>

</html>