<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>植物园主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<!--轮播图-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 453px">
    <ul class="list">
        <li class="item active">
            <img src="/img/zwy0.jpg" style="width: 100%">
        </li>
        <li class="item">
            <img src="/img/zwy1.jpg" style="width: 100%">
        </li>
        <li class="item">
            <img src="/img/zwy2.jpg" style="width: 100%">
        </li>
        <li class="item">
            <img src="/img/zwy3.jpg" style="width: 100%">
        </li>
        <li class="item">
            <img src="/img/zwy4.jpg" style="width: 100%">
        </li>
    </ul>
    <ul class="pointList">
        <li class="point active" data-index='0'></li>
        <li class="point" data-index='1'></li>
        <li class="point" data-index='2'></li>
        <li class="point" data-index='3'></li>
        <li class="point" data-index='4'></li>
    </ul>
    <button type="button" class="home-btn" id="go-pre"><</button>
    <button type="button" class="home-btn" id="go-next">></button>
</div>
<script>
    // 图片
    var items = document.getElementsByClassName('item');
    var goPreBtn = document.getElementById('go-pre');
    var goNextBtn = document.getElementById('go-next');
    //点
    var points = document.getElementsByClassName('point');
    //定时器图片跳转时间参数
    var time = 0;

    var index = 0;

    var clearActive = function () {
        for (var i = 0; i < items.length; i++) {
            items[i].className = 'item';
        }
        for (var i = 0; i < points.length; i++) {
            points[i].className = 'point';
        }
    }

    var goIndex = function () {
        clearActive();
        items[index].className = 'item active';
        points[index].className = 'point active';
    }

    var goNext = function () {
        if (index < 4) {
            index++;
        } else {
            index = 0;
        }
        goIndex();
        time = 0;
    }

    var goPre = function () {
        if (index == 0) {
            index = 4;
        } else {
            index--;
        }
        goIndex()
        time = 0;
    }

    goNextBtn.addEventListener('click', function () {
        goNext();
    })
    goPreBtn.addEventListener('click', function () {
        goPre();
    })

    for (var i = 0; i < points.length; i++) {
        points[i].addEventListener('click', function () {
            var pointIndex = this.getAttribute('data-index');
            index = pointIndex;
            goIndex();
            time = 0;
        })
    }

    //    定时器实现2s自动轮播
    setInterval(function () {
        time++;
        if (time == 20) {
            goNext();
        }
        if (time > 20) {
            time = 0;
            goNext();
        }
    }, 100)
</script>
<!--以上为轮播图-->


<!--新闻动态-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news" style="width: 100%">
        <h2>新闻动态/News information</h2>
        <div class="description">一个离家最近的天然氧吧! 一处离健康最近的好地方</div>
        <ul class="ul-css">
            <li class="li-css" th:each="news : ${news}">
                <a th:href="@{'/show/'+${news.id}(type=${type},contentType=1)}" class="a-css">
                    <div class="div">
                        <img th:src="${news.coverImg}" th:alt="${news.title}" class="img">
                    </div>
                    <div class="title" th:text="${news.title}"></div>
                </a>
            </li>
        </ul>
    </div>

</div>

<!--科普教育-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news" style="width: 100%">
        <h2>科普教育/Popular Science Education</h2>
        <div class="description">成都市青少年植物科普馆布展改造是成都市政府十大民生工程之一，也是成都市林业和园林管理局2017年重大工程项目。</div>
    </div>
    <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kpjy">
        <li th:each="news : ${educations}">
            <a th:href="@{'/show/'+${news.id}(type=${type},contentType=3)}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 img">
                        <img th:src="${news.coverImg}" th:alt="${news.title}" class="img-size">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 imgr">
                        <div class="s1" >time:
                            <span th:text="${#dates.format(news.getGmtCreate(),'yyyy-MM-dd')}"></span></div>
                        <div class="s2" th:text="${news.title}"></div>
                        <div class="s3"></div>
                        <div class="s4">MORE+</div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </a>
        </li>
    </ul>
</div>

<!--园林园艺-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news" style="width: 100%">
        <h2>园林园艺/Landscape gardening</h2>
        <div class="description">一个离家最近的天然氧吧! 一处离健康最近的好地方</div>
    </div>
    <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ylyy">
        <li th:each="news : ${gardens}">
            <a th:href="@{'/show/'+${news.id}(type=${type},contentType=4)}" class="img">
                <img th:src="${news.coverImg}" th:alt="${news.title}">
                <div class="a-text" th:text="${news.title}"></div>
            </a>
        </li>
    </ul>
</div>

<!--游客服务-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 100px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news" style="width: 100%">
        <h2>游客服务/Tourist service</h2>
        <div class="description">一个离家最近的天然氧吧! 一处离健康最近的好地方</div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ykfw">
        <a href="" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 img">
            <img src="/img/zwy2.jpg" alt="" class="img-size">
        </a>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 " style="padding: 0;height: 339px;background-color: white">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgr">
                乘车如何到达成都植物园
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 c">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ct">
                    <a href="" class="" onmouseover="lx()">乘车路线</a>
                    <a href="" class="" onmouseover="tc()">停车信息</a>
                    <a href="" class="" onmouseover="wz()">地理位置</a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 con">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 xx" id="lx">
                    <p>
                        <span style="font-size: 18px">
                            1、地铁3号线，植物园站；
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 18px">
                            2、公交路线：254路、143路、650路、659路、660路、X15路，植物园站。
                        </span>
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 xx-hidden" id="tc">
                    <p>
                        <span style="font-size: 18px">
                            1、成都市植物园西大门停车场——97个车位
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 18px">
                            2、成都市植物园南大门停车场——238个车位
                        </span>
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 xx-hidden" id="wz">
                    <p>
                        <span style="font-size: 18px">
                            1、xxxxxxxx；
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 18px">
                            2、ccccccccccccccc
                        </span>
                    </p>
                </div>

                <div style="padding-left: 15px">
                    <a href="/guest" class="btn fl">查看详情>> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var divId;
    function lx() {
        divId = document.getElementById('lx');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }
    function tc() {
        divId = document.getElementById('tc');
        divId.className = 'xx';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }
    function wz() {
        divId = document.getElementById('wz');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
    }
</script>

<!--页尾-->
<div th:insert="~{footing :: footer}"></div>

</body>
</html>