<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>地图</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
<!--百度地图-->
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin:0;
            font-family:"微软雅黑";
        }
        #dituContent{
            height: 550px;
            width: 100%;
        }
        #r-result,#r-result table{width:100%;}
    </style>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=C6cyyDWK0vhIceMG8pNAX0cAfblL6Bmt"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}";></div>

<section>
    <img src="http://www.cdszwy.com/uploadfile/2019/0109/20190109124113479.jpg" alt="" class="fl" style="width: 1519px">
    <div class="clear-both"></div>
    <div class="guest" style="height: 98px">
            <span class="fl" style="font-size: 30px;padding: 29px">
                地图/Map
            </span>
    </div>
</section>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 60px;padding-bottom: 40px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ykfw" style="padding: 0 80px 0 80px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
                <div style="padding: 5px 0 0 70px">
                    请输入起点:<input class="txt" type="text" value="" id="startInput"/>
                    <input type="button" value="搜索" onclick="mDriving()"/>
                </div>
                <div style="padding: 5px 0 55px 70px; height: 600px;">
                    <div style="width:805px;border:#ccc solid 1px;float: left;" id="dituContent"></div>
                    <div style="width:300px;height:550px;float: left;overflow:auto;">
                        <div id="r-result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--页尾-->
<div th:insert="~{footing :: footer}"></div>

</body>
<!--百度地图-->
<script type="text/javascript">
    //创建地图函数：
    var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
    var point = new BMap.Point(104.136465,30.770437);//定义一个中心点坐标
    map.centerAndZoom(point,15);//设定地图的中心点和坐标并将地图显示在地图容器中

    map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
    map.enableScrollWheelZoom();//启用地图滚轮放大缩小

    //驾车路线规划
    var transit = new BMap.DrivingRoute(map, {
        renderOptions: {
            map: map,
            panel: "r-result",
            enableDragging : true //起终点可进行拖拽
        },
    });

    function mDriving(){
        var startPlace = document.getElementById("startInput").value;
        transit.search(startPlace,"成都植物园");
    }

</script>


</html>