<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default" style=" margin-bottom: 0px;">
        <div class="container-fluid" style="background-color: lightgreen">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">论坛</span>
                </button>
                    <a href="/home" class="navbar-brand" style="padding: 0">
                        <img src="http://www.cdszwy.com/uploadfile/2019/0419/20190419044744459.png" alt="" style="height: 50px;">
                    </a>
                    <a class="navbar-brand" href="/home">首页</a>
            </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我们
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/zwyjj">植物园简介</a></li>
                                <li><a href="/zzjg">组织机构</a></li>
                                <li><a href="/zwyry">植物园荣誉</a></li>
                                <li><a href="/contactus">联系我们</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">新闻动态
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/news/1">最新公告</a></li>
                                <li><a href="/news/2">园内动态</a></li>
                                <li><a href="/news/3">党政专区</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">科学研究
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/science/1">芙蓉研究</a></li>
                                <li><a href="/science/2">种质资源</a></li>
                                <li><a href="/science/3">合作交流</a></li>
                                <li><a href="/science/4">园林有害生物预测报告</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">科普教育 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">教育项目</a></li>
                                <li><a href="#">活动纪实</a></li>
                                <li><a href="#">志愿者</a></li>
                                <li><a href="#">活动招募</a></li>
                                <li><a href="#">大话植物</a></li>
                                <li><a href="#">科普馆</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">园林园艺
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">四季览园</a></li>
                                <li><a href="#">专类园</a></li>
                                <li><a href="#">主题花展</a></li>
                                <li><a href="#">观花指南</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">游客服务
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/guest">须知信息</a></li>
                                <li><a href="/">游客论坛</a></li>
                            </ul>
                        </li>


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!--<div th:text="${session.user}"></div>-->
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="/publish">发布</a>
                        </li>
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/questions">我的文章</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>

                        <li th:if="${session.user == null}">
                            <a href="https://github.com/login/oauth/authorize?client_id=dc7989988e0deecf99bd&redirect_uri=http://localhost:8080/callback&scope=user&state=2">登录</a>
                        </li>

                    </ul>
                </div>


        </div>
    </nav>
</div>

</body>

</html>