<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}" ;></div>

<section>
    <img src="http://www.cdszwy.com/uploadfile/2019/0109/20190109114200727.jpg" alt="" class="fl" style="width: 1519px">
    <div class="clear-both"></div>
    <div class="guest">
            <span class="fl" style="font-size: 30px;padding: 29px">
               科学研究/Scientific research
            </span>
        <span style="height: 35px;
                    margin-top: 25px;
                    background-color: #000;
                    color: #fff;
                    font-size: 14px;
                    float: right;">
            <a href="/science/1" class="subtitle" style=" text-decoration: none;" id="1">芙蓉研究</a>
            <a href="/science/2" class="subtitle" style="text-decoration: none;" id="2">种质资源</a>
            <a href="/science/3" class="subtitle" style="text-decoration: none;" id="3">合作交流</a>
            <a href="/science/4" class="subtitle" style="text-decoration: none;" id="4">园林有害生物预测报告</a>
            <a href="#" class="subtitle" style="background-color: white"></a>
        </span>
    </div>
    <!--使当前页常亮-->
    <script th:inline="javascript">
        var aDiv;
        var type =[[${type}]];
        aDiv = document.getElementById(type);
        aDiv.className = 'subtitle active';
    </script>
    <style>
        .guest .active{
            background-color: #f8b632;
            color: black;
        }
        .guest a:hover{
            background-color: #f8b632;
            color: black;
        }
    </style>
</section>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 95px 50px 140px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
            <div style="width: 100%;
                        height: 60px;
                        line-height: 58px;
                        display: inline-block;
                        margin-bottom: 10px;
                        overflow: hidden;
                        padding: 15px 40px 0;">
                <span style="font-weight: 700;
                             color: #333;
                             font-size: 24px;" th:text="${title}">
                    </span>
                <span style="color: #666;
                             font-size: 14px;
                             float: right;">
                    当前位置:科学研究>
                    <a th:href="@{'/science/'+${type}}" style="color: #666;text-decoration: none;" th:text="${title}"></a>
                </span>
            </div>
            <div style="width: 100%;
                    line-height: 2;
                    color: #333;
                    font-size: 20px;
                    overflow: hidden">
                <ul class="kxyj fl" style="list-style-type: none">
                    <li th:each="article : ${articles.list}">
                        <a th:href="@{'/show/'+${article.id}(type=${type},contentType=2)}" class="fl s1" th:text="${article.title}"></a>
                        <div class="fl s2" th:text="${article.description}"></div>
                        <a th:href="@{'/show/'+${article.id}(type=${type},contentType=2)}" class="fl s3">查看详情+</a>
                        <div class="clear-both"></div>
                    </li>
                </ul>
            </div>
            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${articles.pages != 1}">
                <ul class="pagination pull-right no-margin">
                    <li th:if="${articles.hasPreviousPage}">
                        <a th:href="@{'/science/'+${type}(pageNum=1)}">
                            首页</a>
                    </li>

                    <li class="prev" th:if="${articles.hasPreviousPage}">
                        <a th:href="@{'/science/'+${type}(pageNum=${articles.prePage})}">
                            <i class="ace-icon fa fa-angle-double-left">pre</i>
                        </a>
                    </li>
                    <!--遍历条数-->
                    <li th:each="nav:${articles.navigatepageNums}">
                        <a th:href="@{'/science/'+${type}(pageNum=${nav})}" th:text="${nav}" th:if="${nav != articles.pageNum}"></a>
                        <span style="font-weight: bold;background: #6faed9;" th:if="${nav == articles.pageNum}"
                              th:text="${nav}"></span>
                    </li>

                    <li class="next" th:if="${articles.hasNextPage}">
                        <a th:href="@{'/science/'+${type}(pageNum=${articles.nextPage})}">
                            <i class="ace-icon fa fa-angle-double-right">next</i>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{'/science/'+${type}(pageNum=${articles.pages})}">尾页</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


<!--页尾-->
<div th:insert="~{footing :: footer}"></div>

</body>

</html>