<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>四季览园</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}" ;></div>

<section>
    <img src="http://www.cdszwy.com/uploadfile/2019/0109/20190109124113479.jpg" alt="" class="fl" style="width: 1519px">
    <div class="clear-both"></div>
    <div class="guest">
            <span class="fl" style="font-size: 30px;padding: 29px">
               园林园艺/Landscape gardening
            </span>
        <span style="height: 35px;
                    margin-top: 25px;
                    background-color: #000;
                    color: #fff;
                    font-size: 14px;
                    float: right;">
            <a href="/sjly" class="subtitle" style=" text-decoration: none;background-color: #f8b632;color: black">四季览园</a>
            <a href="/" class="subtitle" style="text-decoration: none;">专类园</a>
            <a href="/" class="subtitle" style="text-decoration: none;">主题花展</a>
            <a href="/" class="subtitle" style="text-decoration: none;">观花指南</a>
            <a href="#" class="subtitle" style="background-color: white"></a>
        </span>
    </div>
    <style>
        .guest a:hover{
            background-color: #f8b632;
            color: black;
        }
    </style>
</section>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 95px 50px 140px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
            <div style="width: 100%;
                        height: 60px;
                        line-height: 58px;
                        display: inline-block;
                        margin-bottom: 10px;
                        overflow: hidden;
                        padding: 15px 40px 0;">
                <span style="font-weight: 700;
                             color: #333;
                             font-size: 24px;">
                    四季览园</span>
                <span style="color: #666;
                             font-size: 14px;
                             float: right;">
                    当前位置:园林园艺>
                    <a href="/fryj" style="color: #666;text-decoration: none;">四季览园</a>
                </span>
            </div>
            <div style="width: 100%;
                    line-height: 2;
                    color: #333;
                    font-size: 20px;
                    overflow: hidden">


                    <ul class="fl n_ylyy" style="list-style-type: none">
                        <li>
                            <a href="http://www.cdszwy.com/list-117-1.html" class="a_img Amplification ">
                                <img src="http://www.cdszwy.com/uploadfile/2019/0307/20190307083816956.jpg" alt="春">
                                <div class="a_text">春</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.cdszwy.com/list-118-1.html" class="a_img Amplification ">
                                <img src="http://www.cdszwy.com/uploadfile/2019/0307/20190307083816956.jpg" alt="夏">
                                <div class="a_text">夏</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.cdszwy.com/list-119-1.html" class="a_img Amplification ">
                                <img src="http://www.cdszwy.com/uploadfile/2019/0307/20190307083816956.jpg" alt="秋">
                                <div class="a_text">秋</div>
                            </a>
                        </li>
                        <li style="width: 263px;">
                            <a href="http://www.cdszwy.com/list-120-1.html" class="a_img Amplification ">
                                <img src="http://www.cdszwy.com/uploadfile/2019/0307/20190307083816956.jpg" alt="冬">
                                <div class="a_text">冬</div>
                            </a>
                        </li>
                    </ul>
                    <div class="clear-both"></div>
                    <div class="ylyy_t">
                        <span>四季览园</span>/ Four seasons garden </div>
                    <ul class="ylyy_c1 fl" style="list-style-type: none">
                        <li>
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="云游成植_蜀中樱花开，英雄可缓缓归矣！">
                                <div class="a_text">云游成植_蜀中樱花开，英雄可缓缓归矣！</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="成植冬日“樱”你而美">
                                <div class="a_text">成植冬日“樱”你而美</div>
                            </a>
                        </li>
                        <li style="width: 351px;">
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="成植花事——金丝灿烂耀一路">
                                <div class="a_text">成植花事——金丝灿烂耀一路</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="成植草锈球">
                                <div class="a_text">成植草锈球</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="成植邀您五一来看绣球啦">
                                <div class="a_text">成植邀您五一来看绣球啦</div>
                            </a>
                        </li>
                        <li style="width: 351px;">
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="成都植物园的春天">
                                <div class="a_text">成都植物园的春天</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="开往春天的列车">
                                <div class="a_text">开往春天的列车</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="a_img Amplification">
                                <img src="http://www.cdszwy.com/uploadfile/2020/0221/20200221102847113.png" alt="坐上地铁，来成植看雪">
                                <div class="a_text">坐上地铁，来成植看雪</div>
                            </a>
                        </li>
                    </ul>
                    <div class="n_expoPages">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!--页尾-->
<div th:insert="~{footing :: footer}"></div>

</body>
<script>
    var divId;

    function lx() {
        divId = document.getElementById('lx');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function tc() {
        divId = document.getElementById('tc');
        divId.className = 'xx';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function wz() {
        divId = document.getElementById('wz');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
    }
</script>

</html>