<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>园内动态</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}" ;></div>

<section>
    <img src="http://www.cdszwy.com/uploadfile/2019/0109/20190109124113479.jpg" alt="" class="fl" style="width: 1519px">
    <div class="clear-both"></div>
    <div class="guest">
            <span class="fl" style="font-size: 30px;padding: 29px">
                新闻动态/News information
            </span>
        <span style="height: 35px;
                    margin-top: 25px;
                    background-color: #000;
                    color: #fff;
                    font-size: 14px;
                    float: right;">
            <a href="/zxgg" class="subtitle" style=" text-decoration: none;">最新公告</a>
            <a href="/yndt" class="subtitle" style="text-decoration: none;background-color: #f8b632;color: black">园内动态</a>
            <a href="/dzzq" class="subtitle" style="text-decoration: none;">党政专区</a>
            <a href="#" class="subtitle" style="background-color: white"></a>
        </span>
    </div>
    <style>
        .guest a:hover {
            background-color: #f8b632;
            color: black;
        }
    </style>
</section>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 95px 50px 140px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
            <div style="width: 100%;
                        height: 60px;
                        line-height: 58px;
                        display: inline-block;
                        margin-bottom: 10px;
                        overflow: hidden;
                        padding: 15px 40px 0;">
                <span style="font-weight: 700;
                             color: #333;
                             font-size: 24px;">
                    园内动态</span>
                <span style="color: #666;
                             font-size: 14px;
                             float: right;">
                    当前位置:新闻动态>
                    <a href="/yndt" style="color: #666;text-decoration: none;">园内动态</a>
                </span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news" style="width: 100%;padding: 35px 0 0 0">
                <ul class="ul-css" style="padding-left: 12px">
                    <li class="li-css" style="width: 400px">
                        <a href="" class="a-css">
                            <div class="div">
                                <img src="/img/news1.png" alt="开园了！成植约你不负春光！" class="img">
                            </div>
                            <div class="title">开园了！成植约你不负春光！</div>
                        </a>
                    </li>

                    <li class="li-css" style="width: 400px">
                        <a href="" class="a-css">
                            <div class="div">
                                <img src="/img/news2.png" alt="开园了！成植约你不负春光！" class="img">
                            </div>
                            <div class="title">开园了！成植约你不负春光！</div>
                        </a>
                    </li>

                    <li class="li-css" style="width: 400px">
                        <a href="" class="a-css">
                            <div class="div">
                                <img src="/img/news3.png" alt="开园了！成植约你不负春光！" class="img">
                            </div>
                            <div class="title">开园了！成植约你不负春光！</div>
                        </a>
                    </li>

                    <li class="li-css" style="width: 400px">
                        <a href="" class="a-css">
                            <div class="div">
                                <img src="/img/news4.png" alt="开园了！成植约你不负春光！" class="img">
                            </div>
                            <div class="title">开园了！成植约你不负春光！</div>
                            <div class="clear-both"></div>
                        </a>
                    </li>
                    <li class="li-css" style="width: 400px">
                        <a href="" class="a-css">
                            <div class="div">
                                <img src="/img/news5.jpg" alt="开园了！成植约你不负春光！" class="img">
                            </div>
                            <div class="title">开园了！成植约你不负春光！</div>
                            <div class="clear-both"></div>
                        </a>
                    </li>
                    <li class="li-css" style="width: 400px">
                        <a href="" class="a-css">
                            <div class="div">
                                <img src="/img/news6.jpg" alt="开园了！成植约你不负春光！" class="img">
                            </div>
                            <div class="title">开园了！成植约你不负春光！</div>
                            <div class="clear-both"></div>
                        </a>
                    </li>
                </ul>
            </div>


        </div>


    </div>
</div>


<!--页尾-->
<div th:insert="~{footing :: footer}"></div>

</body>
<script>
    var divId;

    function lx() {
        divId = document.getElementById('lx');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function tc() {
        divId = document.getElementById('tc');
        divId.className = 'xx';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function wz() {
        divId = document.getElementById('wz');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
    }
</script>

</html>