<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>植物园简介</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}" ;></div>

<section>
    <img src="http://www.cdszwy.com/uploadfile/2019/0109/20190109103401921.jpg" alt="" class="fl" style="width: 1519px">
    <div class="clear-both"></div>
    <div class="guest">
            <span class="fl" style="font-size: 30px;padding: 29px">
                关于我们/About us
            </span>
        <span style="height: 35px;
                    margin-top: 25px;
                    background-color: #000;
                    color: #fff;
                    font-size: 14px;
                    float: right;">
            <a href="/zwyjj" class="subtitle" style="background-color: #f8b632; text-decoration: none;color: black">植物园简介</a>
            <a href="/zzjg" class="subtitle" style="text-decoration: none;">组织机构</a>
            <a href="/zwyry" class="subtitle" style="text-decoration: none;">植物园荣誉</a>
            <a href="/contactus" class="subtitle" style="text-decoration: none;">联系我们</a>
            <a href="#" class="subtitle" style="background-color: white"></a>
        </span>
    </div>
    <style>
        .guest a:hover{
            background-color: #f8b632;
            color: black;
        }
    </style>
</section>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 95px 50px 140px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
            <div style="width: 100%;
                        height: 60px;
                        line-height: 58px;
                        display: inline-block;
                        margin-bottom: 10px;
                        overflow: hidden;
                        padding: 15px 40px 0;">
                <span style="font-weight: 700;
                             color: #333;
                             font-size: 24px;">
                    植物园简介</span>
                <span style="color: #666;
                             font-size: 14px;
                             float: right;">
                    当前位置:关于我们>
                    <a href="/zwyjj" style="color: #666;text-decoration: none;">植物园简介</a>
                </span>
            </div>
            <div style="width: 100%;
                    line-height: 2;
                    color: #333;
                    font-size: 20px;
                    overflow: hidden">

                <div style="width: 100%;
                    overflow: hidden;
                    line-height: 2;
                    color: #333;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 0 50px">
                    <div>
                        &nbsp; &nbsp; 成都市植物园（成都市公园城市植物科学研究院）面积42公顷，位于成都市北郊天回镇(104E，3040N），紧靠川陕公路，距市区10公里,1983年3月28日，经成都市人民政府批准在原成都天回山林场新建为"成都市植物园",1987年2月16日，经成都市人民政府批准，成都市植物园与成都市园林科学研究所正式合署办公。
                    </div>
                    <p style="text-indent:20px">
                        成都市植物园（成都市公园城市植物科学研究院）隶属于成都市公园城市建设管理局，内设10个科室：办公室、政工科、财务科、保卫科、经管科、基建科、科技科、科普科、园景科、预警及控制中心。</p>
                    <p style="text-indent:20px">
                        园内现保存植物2千余种，其中有国家一、二、三级保护植物银杉、珙桐、金钱松等100多种，承担植物迁地保护、引种驯化和选育、城市园林植物的栽培、繁育、园林植物有害生物预警等任务，功能涵盖科研科普、引种驯化和旅游服务。建园三十余年来，共完成科研项目七十余项，其中对芙蓉和荚蒾属植物的研究达到国际和国内领先水平。有较为规范的科普设施成都市青少年植物科普馆、沙生植物馆。</p>
                    <p style="text-indent:20px">
                        在园林植物、花卉栽培、繁育病虫害防治、植物种质基因移地保护、植物引种驯化，特别是在芙蓉花等植物研究应用方面取得了突出成就，已有百余种优质品种在成都、北京、杭州、南京等城市园林建设中得到广泛应用，为改善城市环境做出了贡献。</p>
                    <p style="text-indent:20px">
                        经过三十多年的建设和发展，成都市植物园已建成为集科研科普、旅游休闲服务于一体的综合性植物园。建有多个植物专类园：芙蓉园、樱花园、茶花园、腊梅园、木兰园、海棠园、梨花园、桂花园、梅园、以及大草坪等。园内树木参天，浓荫蔽日，百花争艳，百鸟翔集，湖池清澈，曲径通幽，空气清新，环境雅致。春风吹过，林涛声犹响在耳际，飞鸟掠过，天籁之声宛转和鸣；草地上，孩子们在打滚嬉戏、放风筝，灿烂的笑容犹如盛开的花朵。</p>
                    <p style="text-indent:20px">成都市植物园，一处风景如画的人间天堂；</p>
                    <p style="text-indent:20px">一个离家最近的天然氧吧！</p>
                    <p style="text-indent:20px">一处离健康最近的好地方！</p>
                    <p style="text-align:center; margin-top:20px"><img src="http://www.cdszwy.com/images/gs_001.jpg"></p>
                    <p style="height: 20px"></p>
                </div>

            </div>

        </div>
    </div>
</div>


<!--页尾-->
<div th:insert="~{footing :: footer}"></div>

</body>
<script>
    var divId;

    function lx() {
        divId = document.getElementById('lx');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function tc() {
        divId = document.getElementById('tc');
        divId.className = 'xx';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function wz() {
        divId = document.getElementById('wz');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
    }
</script>

</html>