<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>植物园组织结构</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}" ;></div>

<section>
    <img src="http://www.cdszwy.com/uploadfile/2019/0109/20190109103401921.jpg" alt="" class="fl" style="width: 1519px">
    <div class="clear-both"></div>
    <div class="guest">
            <span class="fl" style="font-size: 30px;padding: 29px">
                关于我们/About us
            </span>
        <span style="height: 35px;
                    margin-top: 25px;
                    background-color: #000;
                    color: #fff;
                    font-size: 14px;
                    float: right;">
            <a href="/zwyjj" class="subtitle" style=" text-decoration: none;">植物园简介</a>
            <a href="/zzjg" class="subtitle" style="background-color: #f8b632;text-decoration: none;color: black">组织机构</a>
            <a href="/zwyry" class="subtitle" style="text-decoration: none;">植物园荣誉</a>
            <a href="/contactus" class="subtitle" style="text-decoration: none;">联系我们</a>
            <a href="#" class="subtitle" style="background-color: white"></a>
        </span>
    </div>
    <style>
        .guest a:hover{
            background-color: #f8b632;
            color: black;
        }
    </style>
</section>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 95px 50px 140px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
            <div style="width: 100%;
                        height: 60px;
                        line-height: 58px;
                        display: inline-block;
                        margin-bottom: 10px;
                        overflow: hidden;
                        padding: 15px 40px 0;">
                <span style="font-weight: 700;
                             color: #333;
                             font-size: 24px;">
                    组织机构</span>
                <span style="color: #666;
                             font-size: 14px;
                             float: right;">
                    当前位置:关于我们>
                    <a href="/zzjg" style="color: #666;text-decoration: none;">组织机构</a>
                </span>
            </div>
            <div style="width: 100%;
                    line-height: 2;
                    color: #333;
                    font-size: 20px;
                    overflow: hidden">

                <div style="width: 100%;
                    height: 70px;
                    line-height: 70px;
                    overflow: hidden;
                    color: #333;
                    font-size: 14px;
                    padding: 0 40px">
                    根据机构编制规定，园所共设置9个职能科室，分别为：办公室、财务科、园景科、经营科、科技科、基建科、植物保护预警中心、保卫科、政工科。 </div>

                <ul class="zzjg fl" style="list-style-type: none">
                    <li>
                        <div class="fl s1">办公室</div>
                        <div class="fl s2"><div>负责日常行政管理、人力资源、离退休人员管理、档案管理、文秘影印、接待、车辆管理、网络维护、后勤总务等工作，按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li>
                        <div class="fl s1">科普科</div>
                        <div class="fl s2"><div>负责科普教育、科普活动策划、组织和评价工作；负责科普档案管理、科普统计和信息报送工作；负责科普团队建设、继续教育、学术交流工作</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li>
                        <div class="fl s1">保卫科</div>
                        <div class="fl s2"><div>负责园内安全生产及抓好消防、治安、停车场的安全管理工作，维护游园秩序和工作秩序、按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li style="width: 270px;">
                        <div class="fl s1">科技科</div>
                        <div class="fl s2"><div>负责科研管理、科研工作、引种驯化、学会协会工作、科研苗圃生产及日常管理、科普馆的日常管理、科普教育与宣传等。按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li>
                        <div class="fl s1">园景科</div>
                        <div class="fl s2"><div>负责园庭景观建设、园内植物的养护管理、环境卫生及其它日常管理等。按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li>
                        <div class="fl s1">财务科</div>
                        <div class="fl s2"><div>负责财务计划实施、资金管理及日常财务管理、工会财务管理工作等。按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li>
                        <div class="fl s1">经管科</div>
                        <div class="fl s2"><div>负责门票票务工作、经营项目、食品卫生、优质服务、招商引资及日常管理工作。按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li style="width: 270px;">
                        <div class="fl s1">基建科</div>
                        <div class="fl s2"><div>负责园内基础设施的规划、建设与维护、全园水电管线维修维护及水厂的日常管理。按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li>
                        <div class="fl s1">植物保护预警中心</div>
                        <div class="fl s2"><div>负责成都市园林植物有害生物的预测、预报及控制工作，及时发布植物保护预警信息；负责园内植物保护工作，按时完成上级交办的其它工作事务</div></div>
                        <div class="clear-both"></div>
                    </li>
                    <li>
                        <div class="fl s1">政工科</div>
                        <div class="fl s2"><div>负责党务、组织人事、宣传职教、普法宣传教育、纪检监察、党风廉政建设、人口与计划生育、工会工作，按时完成上级交办的其它工作事务。</div></div>
                        <div class="clear-both"></div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>


<!--页尾-->
<div th:insert="~{footing :: footer}"></div>

</body>
<script>
    var divId;

    function lx() {
        divId = document.getElementById('lx');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function tc() {
        divId = document.getElementById('tc');
        divId.className = 'xx';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
        divId = document.getElementById('wz');
        divId.className = 'xx-hidden';
    }

    function wz() {
        divId = document.getElementById('wz');
        divId.className = 'xx';
        divId = document.getElementById('tc');
        divId.className = 'xx-hidden';
        divId = document.getElementById('lx');
        divId.className = 'xx-hidden';
    }
</script>

</html>